<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil del Paciente</title>
    <link rel="stylesheet" href="perfil.css">
</head>
<body>
    <h1>Perfil del Paciente</h1>
    <div class="perfil-container">
        <div class="avatar-container">
            <img class="profile-avatar" src="https://img.freepik.com/premium-vector/cartoon-image-boy-with-blue-shirt-yellow-background_1173110-2206.jpg" alt="Avatar">
        </div>
        
        <h2>Datos Personales</h2>
        <ul>
        <% if(tabla == 'pacientes'){ %>

        <h2>Paciente</h2>
        <li><%=datos.nombres%></li>
        <li><%=datos.apellidos%></li>
        <li><%=datos.id%></li>

        <h2>Representante</h2>

        <li><%=datos.representante.nombres%></li>
        <li><%=datos.representante.apellidos%></li>
        <li><%=datos.representante.id%></li>

        <% }else{ %>

       <h2>Representante</h2>

       <li><%=datos.nombres%></li>
       <li><%=datos.apellidos%></li>
       <li><%=datos.id%></li>

       <h2>Pacientes</h2>

       <% datos.pacientes.forEach(registro=>{ %>
       <br>
       <li><%=registro.nombres%></li>
       <li><%=registro.apellidos%></li>
       <li><%=registro.id%></li>

       <% })  %>

        <% } %>
        </ul>
    </div>
    
    <div class="perfil-container" id="espacio">
        <h2>Datos del Representante</h2>
        <p><strong>Nombre y Apellido: Lorena Garcia</strong></p>
        <p><strong>Edad: 37 años</strong></p>
        <p><strong>Cédula: 16948552</strong></p>
        <p><strong>Sexo: Femenina</strong></p>
        <p><strong>Teléfono: +58 4125579633</strong></p>
        <p><strong>Dirección: Avenida Bolivar Norte, Urb. Bello Monte</strong></p>

    </div>

   <div class="father-container">
     <div class="child-container">
        <a href="">Volver a principal</a>
     </div>
    </div>

</body>
</html>