<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil del Paciente</title>
    <link rel="stylesheet" href="/styles/perfil.css">
</head>
<body>
    
    <% if(tabla == 'pacientes'){ %>
        
    <h1>Perfil del Paciente</h1> 
    
    <div class="perfil-container">
   
        

        <div class="avatar-container">
            <img class="profile-avatar" src="https://img.freepik.com/premium-vector/cartoon-image-boy-with-blue-shirt-yellow-background_1173110-2206.jpg" alt="Avatar">
        
            
    </div>
        

        <h2>Datos Personales</h2>
        
        <p><strong>Nombres: <%=datos.nombres%></strong></p>
        <p><strong>Apellidos: <%=datos.apellidos%></strong></p>
        <p><strong>Edad : <%=datos.edad%></strong></p>
        <p><strong>Sexo: <%=datos.sexo%></strong></p>
        <p><strong>Fecha de Nacimiento: <%=datos.fechaNacimiento%></strong></p>
        <p><strong>Lugar de Nacimiento:<%=datos.lugarNacimiento%></strong></p>
        <p><strong>Dirección: <%=datos.direccion%></strong></p>
        
    </div>

    <div class="perfil-container" id="espacio">
        <h2>Datos del Representante</h2>
        <p><strong>Nombre y Apellido: <%=datos.representante.nombres%> <%=datos.representante.apellidos%></strong></p>
        <p><strong>Edad: <%=datos.representante.edad%></strong></p>
        <p><strong>Cédula: <%=datos.representante.cedula%></strong></p>
        <p><strong>Sexo: <%=datos.representante.sexo%></strong></p>
        <p><strong>Dirección: <%=datos.representante.direccion%></strong></p>
        <p><strong>Telefono: <%=datos.representante.telefono%></strong></p>
        <p><strong>Telefono2: <%=datos.representante.telefonoEmergencia%></strong></p>
        
    </div>

    
    <div class="limiter">
    <div class="perfil-container">
        <h2>Consultas</h2>
        <div class="wrap-table100">
            <div class="table100">
                <table>
                    <thead>

                        <tr class="table100-head">
                            <th class="column">Evaluacion</th>
                            <th class="column">Peso</th>
                            <th class="column">Fecha y Lugar</th>
                            <th class="column" colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% datos.consultas.forEach(registro=>{ %>
                            <tr>
                                
                                <td><%=registro.evaluacion%>Kg</td>
                                <td><%=registro.peso%></td>
                                <td><%=registro.createdAt%></td>
                               
                                <td>
                                  <a href="/editconsulta/<%=registro.id%>" class="options edit">Editar</a>
                    
                                </td>
                                
                              </tr>

                              <% })  %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>

  


   <div class="father-container">
     <div class="child-container">
        <a href="/home">Volver a principal</a>
        <a href="/addconsulta/<%=datos.id%>">registrar consuslta</a>
     </div>
    </div>
  <% } %>
</body>
</html>