<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/constancia.css">
    <title>Document</title>
</head>
<body>
    <header class="main-header">
        <h1>Editar Paciente</h1>
        <nav>
            <ul>                
                <li><a href="/getPacientes">Regresar</a></li>
            </ul>
        </nav>
    </header>
    <form id='formulario' data-id='<%=data.id%>'>
    <div class="container" >
        <div class="container-form">
            <div class="content-input">
                <legend>Datos personales</legend>
            <label  for="nombre">Nombres: </label>
            <input type="text" id="nombres" name="nombre" value='<%=data.nombres%>'>
            
            <label for="apellido"> Apellidos:</label>
            <input type="text" id="apellidos" name="apellido" value='<%=data.apellidos%>'>
           

            <label for="edad" class="edad">Edad:</label>
            <input type="number" id="edad" name="edad" value='<%=data.edad%>'>

            <label for="sexo" class="sex">Sexo:</label>
            <input type="text" id="sexo" name="sexo" value='<%=data.sexo%>'>

            

            <label for="fecha_nac" class="fecha_nac">Fecha de Nacimiento:</label>
            <input type="date" id="f_nac" name="fecha_nac" value='<%=data.fecha_nac%>'>
          

            <label for="lugar_nac">Lugar de Nacimiento:</label>
            <input type="text" id="lugar_nac" name="lugar_nac" value='<%=data.lugar_nac%>'>

            <label for="direccion" class="dir">Dirección:</label>
            <input type="text" id="direccion" name="direccion" value='<%=data.direccion%>'>

            <label for="evaluacion" class="eva">Se evalúa a:</label>
            <input type="text" id="evaluacion" name="evaluacion" value='<%=data.evaluacion%>'>
        </div>
    </div>
        <div class="container-form">
            <div class="content-input">
                <label for="piel">Piel y mucosa:</label>
                <input type="text" id="piel" name="piel" value='<%=data.piel%>'>

                <label for="peso" class="peso">Peso (kg):</label>
                <input type="number" id="peso" name="peso" step="0.01" value='<%=data.peso%>'>

                <label for="talla" class="tall">Talla (cm):</label>
                <input type="number" id="talla" name="talla" value='<%=data.talla%>'>

                <label for="temperatura">Temperatura (°C):</label>
                <input type="number" id="temperatura" name="temperatura" step="0.1" value='<%=data.temperatura%>'>

                <label for="cardio" class="cardio">Cardiorrespiratorio:</label>
                <input type="text" id="cardio" name="cardio" value='<%=data.cardio%>'>

                <label for="abdomen" class="ad">Abdomen:</label>
                <input type="text" id="abdomen" name="abdomen" value='<%=data.abdomen%>'>

                
                <label for="laboratorio" id="rr">Resultados del Laboratorio:</label>
                <input type="text" id="laboratorio" name="laboratorio" value='<%=data.laboratorio%>'>
                <br>
                <label for="snc">SNC:</label>
                <input type="text" id="snc" name="snc" value='<%=data.snc%>'>

                <label for="inmunizaciones" class="inn">Inmunizaciones:</label>
                <input type="text" id="inmunizaciones" name="inmunizaciones" value='<%=data.inmunizaciones%>'>

                <label for="idx" class="idx">IDX:</label>
                <input type="text" id="idx" name="idx" value='<%=data.idx%>'>
                </div>
        </div>
        
    </div>
    
    <div class="container-btn">
        <button class="btn">Registrar</button>
    </div>
</form>
    <script type="text/javascript">
        const formulario = document.getElementById('formulario');
        formulario.addEventListener('submit',event=>{
        event.preventDefault();//detiene el comportamiento por defecto de un formulario
        const data = new FormData(formulario);


        const nombres = data.get('nombre');
        const apellidos = data.get('apellido');
        const edad = data.get('edad');
        const sexo = data.get('sexo');
        const fecha_nac = data.get('fecha_nac');
        const lugar_nac = data.get('lugar_nac');
        const direccion = data.get('direccion');
        const evaluacion = data.get('evaluacion');
        const piel = data.get('piel');
        const peso = data.get('peso');
        const talla = data.get('talla');
        const temperatura = data.get('temperatura');
        const cardio = data.get('cardio');
        const abdomen = data.get('abdomen');
        const laboratorio = data.get('laboratorio');
        const snc = data.get('snc');
        const inmunizaciones = data.get('inmunizaciones');
        const idx = data.get('idx');

        const id = formulario.dataset.id;
        fetch(`/update/${id}`,{
            method:'post',
            headers:{
                "Content-Type":"application/json"
            },
            body:JSON.stringify({nombres,apellidos,edad,sexo,fecha_nac,lugar_nac,direccion,evaluacion,piel,peso,talla,temperatura,cardio,abdomen,laboratorio,snc,inmunizaciones,idx,id})
        })
        .then(res=>res.json())
        .then(res=>{
            if(res.interruptor){
              alert('Registro actualizado');
              setTimeout(()=>{
                window.location.href='/getPacientes';
              },0);
            }else{
            alert('de alguna manera que desconozco no se completo la actualizacion');
            }
        });
    });
</script>
</body>

</html>